*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  background-color: #F8EFDF;
}
/* used to detect animation */
.container{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  transform-style: preserve-3d;
  min-height: 80vh;
  width: 35rem;
  border-radius: 30px;
  padding: 0rem 5rem 5rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.sneaker{
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sneaker .img{
  width: 20rem;
  /* push img behind circle */
  z-index: 2;
  transition: all 0.75s ease-out;
}
.logo{
  width: 15rem;
  height: 15rem;
  
  position: absolute;
  z-index: 1;
}
.circle{
  width: 15rem;
  height: 15rem;
  background: linear-gradient(
    to right,
    rgba(245,70,66,0.75),
    rgba(8,83,156,0.75)
  );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.info h1{
  font-size: 3rem;
  transition: all 0.75s ease-out;
}

.info h3{
  font-size: 1.3rem;
  padding: 2rem 0rem;
  color: #585858;
  font-weight: lighter;
  transition: all 0.75s ease-out;
}

.sizes{
  display: flex;
  justify-content: space-between;
  transition: all 0.75s ease-out;
}

.sizes img{
  padding: 0.1rem 0.3rem;
  background: none;
  border: none;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  color: #585858;
}

button.active{
  background: #585858;
  color: white;
}

.purchase{
  margin-top: 5rem;
  transition: all 0.75s ease-out;
}

.purchase button{
  width: 100%;
  min-height: 40px;
  background: #6AA295;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bolder;
}